@*@model Web.Data.Models.Database.Person*@

@{
	ViewData["Title"] = "Add Person";
	Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Add Person</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Person</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Header</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Nama Pengadaan</label>
									<input type="text" class="form-control" id="nama_pengadaan" required />
								</div>
								<div class="form-group">
									<label>Kategori</label>
									<select class="form-control select2" id="kategori" asp-items="@ViewBag.ListKategori" style="width: 100%;">
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>Target Date</label>
									<input type="date" class="form-control" id="target_pengadaan" required />
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Detail</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-default btn-sm" id="btn-add-item" data-toggle="tooltip" data-placement="top" title="Add Item">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						</div>
					</div>
					<form>
						<div class="card-body">
							<table id="tbl-items" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Name</th>
										<th>Spesifikasi</th>
										<th>Qty</th>
										<th>Action</th>
									</tr>
								</thead>
							</table>

						</div>
						<div class="card-footer">
							<div class="float-right">
								<input class="btn btn-primary" type="submit" id="btn-save" value="Save" />
								<a class="btn btn-warning" asp-action="Index">Back</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="modal fade" id="modal-default" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Default Modal</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Name</label>
								<input type="text" id="nama-item" class="form-control" />
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Spesifikasi</label>
								<input type="text" id="spesifikasi" class="form-control" />
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Qty</label>
								<input type="text" id="qty" class="form-control" />
							</div>
						</div>
					</div>
					<div class="row">
					</div>
				</div>
				<div class="modal-footer float-right">
					<button type="button" class="btn btn-primary" id="btn-save-item">Save Item</button>
					<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</section>

@section Scripts{
	<script type="text/javascript">
		$("#btn-add-item").on('click', function () {
			$('#modal-default').modal('show');
		});

		$("#btn-save-item").click(function () {
			AddToTheItemList();
			$('#modal-default').modal('hide');
		});

		$("#btn-save").on('click', function(){
			var header = [];
			var listDetail = new Array();

			header.
		})
		function ResetItem() {
			$("#nama-item").val('');
			$("#spesifikasi").val('');
			$("#qty").val('');
		}
		function RemoveItem(namaitem) {
			$(namaitem).closest('tr').remove();
		}
		function AddToTheItemList() {
			var tblItemList = $("#tbl-items");
			var namaitem = $("#nama-item").val();
			var spesifikasi = $("#spesifikasi").val();
			var qty = $("#qty").val();

			var ItemList = "<tr><td>" + namaitem +
				"<td>" + spesifikasi + "<td>" +
				parseFloat(qty).toFixed(2) +
				"<td class='text-center'> <input type='button' name='remove' value='Delete' onclick='RemoveItem(this)' /> </tr></tr>";

			tblItemList.append(ItemList);
			ResetItem();
		}

	</script>
    }